body {
  font-family: 'Constantia', sans-serif;
  color: $primary-font-color;
}

a {
  text-decoration: none;
  color: $primary-font-color;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 0;
  letter-spacing: 0.2rem;
}

.page-title{
  margin-top: 5rem;
  margin-bottom: 1rem;
}